# ──────────────────────────────────────────────────────────
# 1) Python
venv/
__pycache__/
.idea/
.vscode/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# 2) Data & Model
*.zip
*.pth
*.pt
*.h5
*.ckpt
*.onnx
data/
ocr/checkpoints/
ocr/train_logs/
ocr/wandb_logs/
images/ocr_results/*.txt
images/ocr_results/*.jpg
images/test_images_kr/
images/test_images_kr_df/

# 3) OS
.DS_Store
Thumbs.db

# 4) Yolov5
yolov5/
