# ──────────────────────────────────────────────────────────
# 1) Python
venv/
__pycache__/
.idea/
.vscode/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# 2) Data & Model
*.zip
*.h5
*.ckpt
*.onnx
bestModel/history/
data/
ocr/checkpoints/
ocr/train_logs/
ocr/wandb_logs/
ocr/scripts/craft_output
results/ocr_results/*.txt
results/ocr_results/*.jpg
results/test_images_kr/
results/test_images_kr_df/

# 3) OS
.DS_Store
Thumbs.db

# 4) Yolov5
yolov5/
